// project -----------------------------------------

$project-item-bg: #fff;

$project-item-complete: #00ce89;
$project-item-incomplete: #e90074;

$project-icon-color: #bbb;
$project-icon-color-hover: #777;

// project -----------------------------------------
