// project -----------------------------------------
$project-item-bg: #fff;

$project-item-complete: #00ce89;
$project-item-incomplete: #e90074;

$project-icon-color: #bbb;
$project-icon-color-hover: #777;
// project -----------------------------------------

// add project form --------------------------------
$form-bg: #fff;

$form-label-color: #bbb;

$form-input-border-color: #ddd;

$form-btn-color: #00ce89;
$form-btn-hover-color: #00ce2d;
$form-btn-active-color: #007822;
// add project form --------------------------------

// navbar ------------------------------------------
$nav-link-color: #999;
$nav-link-active-color: #515151;
$nav-link-active-border-color: #00ce89;
// navbar ------------------------------------------

// filter navbar -----------------------------------
$filter-nav-btn-color: #bbb;
$filter-nav-btn-color-active: #555;

// filter navbar -----------------------------------
